<!-- navbar -->
<nav class="navbar navbar-toggleable-sm navbar-top">
  <div class="container">

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"><i class="fa fa-align-justify"></i></span>
    </button>

    <%= link_to root_path, class: 'navbar-brand' do %>
      <i class="fa fa-compass"></i> Follower
    <% end %>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <span class="navbar-text mr-auto">
      </span>
      <ul class="nav navbar-nav">
        <% if current_user %>
          <li class="nav-item <%= 'active' if controller?('dashboard') %>">
            <%= link_to 'Dashboard', workspace_dashboard_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Test pages', test_pages_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Log Out', logout_path, method: :delete, class: 'nav-link', data: { confirm: 'Are you sure to lg in?' } %>
          </li>
        <% else %>
          <li class="nav-item <%= 'active' if controller?('sessions') %>">
            <%= link_to 'Log In', login_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
