<%= render partial: 'webpage_header' %>

<br>

<div class="row justify-content-center">
  <div class="col-sm-12 col-md-12 col-lg-8">
    <div class="card">
      <div class="card-header">
        STEP 1
      </div>
      <div class="card-block">
        <p>Add this script on your web page, then press confirm button. Once is done, go to another step.</p>
        <textarea class="form-control" id="follower_widget__script" rows="3">
          <script id="follower_widget__init_script" type="text/javascript" src="<%= request.base_url %>/widget_init.js">
          </script>
        </textarea>
        <br>
        <% if @webpage.has_script? %>
          <%= link_to 'Confirmed! Press to recheck.', workspace_confirm_widget_script_path, class: 'btn btn-success', id: 'widget_script_status_button', remote: true %>
        <% else %>
          <%= link_to 'Check script status', workspace_confirm_widget_script_path, class: 'btn btn-primary', id: 'widget_script_status_button', remote: true %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<br>

<div class="row justify-content-center">
  <div class="col-sm-12 col-md-12 col-lg-8">
    <div class="card">
      <div class="card-header">
        STEP 2
      </div>
      <div class="card-block">
        <p>Using this link go to your page and set up all cart elements.</p>
        <%= link_to 'Setup cart elements', @webpage.url + '?follower_widget_id=' + @webpage.id.to_s + '&follower_widget_token=' + @webpage.widget_token, class: 'btn btn-primary', id: 'open_webpage_button', target: '_blank' %>
      </div>
    </div>
  </div>
</div>

<br>

<div class="row justify-content-center">
  <div class="col-sm-12 col-md-12 col-lg-8">
    <div class="card">
      <div class="card-header">
        STEP 3
      </div>
      <div class="card-block">
        <p>Setup parameters and scenarios</p>
      </div>
    </div>
  </div>
</div>
