<!DOCTYPE html>
<html>
  <head>
    <title>Follower</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://use.fontawesome.com/f2f87b72d2.js"></script>

  </head>

  <body>
    <div class="<%= page_primary_class(request.env['PATH_INFO']) %>">
      <%= render partial: 'shared/navbar' %>
      <%= render partial: 'shared/alert' %>

      <% if namespace?('workspace') %>
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <%= render partial: 'workspace/navbar_left' %>
            </div>
            <div class="col-md-9">
              <%= yield %>
            </div>
          </div>
        </div>
      <% else %>
        <%= yield %>
      <% end %>

      <%= render partial: 'shared/footer' %>
    </div>

    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
      </div>
    </div>

    <% if Rails.env.development? %>
      <div class="row">
        <div class="container">
          <%= debug(params) %>
        </div>
      </div>

    <% end %>
  </body>
</html>
